# Ignorar todo por defecto
*

# Permitir datasets
!datasets/
!datasets/**
!datasets1/
!datasets1/**

# Permitir script HU (actividad individual)
!hu_moments.py

# Ignorar basura común
__pycache__/
.venv/
features_out/
*.csv

# Permitir CSV de características
!features_out/
!features_out/*.csv
